/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
    overflow: hidden; /* 禁用页面滚动 */
    overscroll-behavior: none; /* 防止弹性滚动 */
    margin: 0;
    padding: 0;
}
html, body {
    overflow: hidden; /* 禁用页面滚动 */
    overscroll-behavior: none; /* 防止弹性滚动 */
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
}
::selection {
    background-color: #F7DA66; /* 设置选中的背景颜色 */
    /*color: #FFF; !* 设置选中的文字颜色 *!*/
}