/* reset.css */

/* 清除所有 HTML 元素的 margin 和 padding */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 去除列表的样式 */
ul, ol {
    list-style: none;
}

/* 清除链接的下划线 */
a {
    text-decoration: none;
    color: inherit;
}

/* 去除图片和视频的边距 */
img, video {
    max-width: 100%;
    height: auto;
}

/* 去除表格边框和间距 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 设置默认字体，确保全局一致性 */
body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* 清除输入框和按钮的默认样式 */
button, input, select, textarea {
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}